/************************************ FONTS ************************************/

@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Orbitron|Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/************************************* END FONTS *************************************/


/************************************ BASIC LAYOUT ************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	/* background: #1f253d; */
  background: #eceef3;

}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 20px;
}

p {
	font-size: 17px;
}

a {
	text-decoration: none;
	font-size: 20px;
}
img {

  max-width: 100%;
    max-height: 100%;
}


div, h1, h2, p, a, span{
	color: #fff;
}
	.scnd-font-color {
		color: #9099b7;
	}

.input-container {
	position: relative;
}
	input[type=text]{
		width: 260px;
		height: 50px;
		margin-left: 20px;
		margin-bottom: 20px;
		padding-left: 45px;
		background: #50597b;
		color: #fff;
		border: solid 1px #1f253d;
		border-radius: 5px;
	}
		input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
	   		color: #fff;
	   	}
		input[type=text]:-moz-input-placeholder { /* Mozilla Firefox 4 to 18 */
	   		color: #fff;
	   	}
		input[type=text]::-moz-input-placeholder { /* Mozilla Firefox 19+ */
	   		color: #fff;
	   	}
		input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
	   		color: #fff;
	   	}
	   	input[type=text]:focus {
	   		outline: none; /* removes the default orange border when focus */
	   		border: 1px solid #11a8ab;
	   	}


.horizontal-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	.horizontal-list li {
		float: left;
	}

.clear {
	clear: both;
}

.icon {
	font-size: 25px;
}

.title {

	display: block;
	line-height: 60px;
	margin: 0;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.button {
	display: block;
	width: 175px;
	line-height: 50px;
  background-image: url('assets/gif.gif');
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
	border-radius: 5px;
	-webkit-transition: background .3s;
	transition: background .3s;
}

/************************************ END BASIC LAYOUT ************************************/


/** MAIN CONTAINER **/

.main-container {
font-family: 'Roboto Mono', monospace;
	/* font-family: 'Orbitron', sans-serif; */
	width: 1050px;
	height: 800px;
	margin: .05em auto;

}

/* modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}

/* content within the modal */
.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.8s;
  animation-name: animatetop;
  animation-duration: 0.8s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: darkgray;
  text-decoration: none;
  cursor: pointer;
}
	/*********************************************** HEADER ***********************************************/
	header {
		/* height: 80px; */
	}
		.header-menu {
			font-size: 17px;
			line-height: 80px;

		}
			.header-menu li {
				position: center;
        vertical-align:middle;
    text-align:center;
			}
				.header-menu-tab {
            background-image: url('assets/gif.gif');

					/* padding: 0 27px; */
					display: block;
					line-height: 70px;
          vertical-align:middle;
    text-align:center;
					font-size: 25px;
					-webkit-transition: background .3s;
					transition: background .3s;
				}
.logo{
        height: 80px;
           width: 450px;
           padding-top: 25px;
}
	/** CONTAINERS **/
	.container {
		float: left;
		width: 300px;
	}
		.block {
      background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


			margin-bottom: 10px;
			/* background: #394264; */
			border-radius: 5px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		}
		/******************************************** LEFT CONTAINER *****************************************/
		.left-container {}
			.menu-box {
				height: 360px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        /* border: 5px solid #11a8ab; */
			}
				.menu-box .title {
					background: #11a8ab;
				}
				.menu-box-menu .icon {
					display: inline-block;
					vertical-align: top;
					width: 28px;
					margin-left: 20px;
					margin-right: 15px;
				}

				}
				.menu-box-menu li{
					height: 60px;
					position: relative;
				}
				.menu-box-tab {
					line-height: 60px;
					display: block;
					/* border-bottom: 1px solid #1f253d; */
					-webkit-transition: background .2s;
					transition: background .2s;

           cursor: pointer;
				}
					.menu-box-tab:hover {
						background: #50597b;
						border-top: 1px solid #1f253d;
						text-decoration: none;
					}
/*
 Drag and drop */
      .hovered {
        border: dotted 1px black;
      }

      .held {
        border: solid 1px black;
        /* background-color: black; */
      }

      .invisible {
        display: none;
      }
					.menu-box-tab:hover .icon {
						color: #fff;
					}



			.second-chart-block {

				height: 340px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
			}
				.second-chart-block .title {

          background: #11a8ab;
					padding: px 0;
				}
				.second-chart {
					height: 200px;
				}

					.second-chart {
					  position: relative;
						width: 200px;
					  height: 200px;
						margin: 0 auto 2rem;
						border-radius: 100%
					 }

				/******************************************
				******************************************
		/************************************************** GRID MIDDLE CONTAINER **********************************/
		.middle-container {
			margin: 0 10px;
      /* border: 5px solid #11a8ab; */
		}
			.grid {
				height: 710px;
        width: 738px;
			}

    .game-board
              {

              	width: 739px;
              	height: 710px;
              	margin: 0 auto;
                /* background-color: #34495e; */
                color: #fff;
                border: 3px solid #11a8ab;
                border-radius: 10px;

              	display: grid;
              	grid-template: repeat(4, 1fr) / repeat(4, 1fr);
              }

    .box
          {
            background-image: url('assets/gif.gif');
                border: 3px solid #11a8ab;
                border-radius: 1px;
                  /* box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
                /* font-weight: bold; */
                font-size: 2em;
                display: flex;
                justify-content: center;
                align-items: center;
          }



          /* Buzz Out */
          @-webkit-keyframes hvr-buzz-out {
            10% {
              -webkit-transform: translateX(3px) rotate(2deg);
              transform: translateX(3px) rotate(2deg);
            }
            20% {
              -webkit-transform: translateX(-3px) rotate(-2deg);
              transform: translateX(-3px) rotate(-2deg);
            }
            30% {
              -webkit-transform: translateX(3px) rotate(2deg);
              transform: translateX(3px) rotate(2deg);
            }
            40% {
              -webkit-transform: translateX(-3px) rotate(-2deg);
              transform: translateX(-3px) rotate(-2deg);
            }
            50% {
              -webkit-transform: translateX(2px) rotate(1deg);
              transform: translateX(2px) rotate(1deg);
            }
            60% {
              -webkit-transform: translateX(-2px) rotate(-1deg);
              transform: translateX(-2px) rotate(-1deg);
            }
            70% {
              -webkit-transform: translateX(2px) rotate(1deg);
              transform: translateX(2px) rotate(1deg);
            }
            80% {
              -webkit-transform: translateX(-2px) rotate(-1deg);
              transform: translateX(-2px) rotate(-1deg);
            }
            90% {
              -webkit-transform: translateX(2px) rotate(0);
              transform: translateX(1px) rotate(0);
            }
            100% {
              -webkit-transform: translateX(-2px) rotate(0);
              transform: translateX(-1px) rotate(0);
            }
          }

/* // logo animations */
          .hvr-buzz-out {
            /* display: inline-block;
            vertical-align: middle; */
            -webkit-transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          }
          .hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
            -webkit-animation-name: hvr-buzz-out;
            animation-name: hvr-buzz-out;
            -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
          }


/*
 DRAGULA LIBRARY */
 * {margin:0;padding:0;border:0;height:auto;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-webkit-animation-fill-mode: none !important;}


 /* #kaban {float:left;
   position:relative;
   width:100%;
   ax-width:100%;
   height:auto;} */


 #boards {float:left;
   position:relative;
   width:auto;
   height:auto;
   margin-bottom:30px;}

 .board {
 /*   float:left;
   position:relative; */
   width:300px;
   height:auto;
   margin:8px;
 /*   background-color:lightgray; */
   border-radius:3px;
   box-shadow:1px 1px 1px rgba(0,0,0,.2);}

 /* .board header {
   float:left;
   width:100%;
   padding:.5em;
   background-color:lightgray;
   border-radius:3px 3px 0 0;} */

 /* #board1 header {
   background-color:#BC3425;
   color:white}
 #board2 header {
   background-color:#92549E;
   color:white} */

 .cards {
   list-style-type:none;
   float:left;
   width:100%;
   padding:4px 8px;}

 .card {
   float:left;
   width:100%;
   height:auto;
   background-color:white;
   padding:20px;
   margin:4px 0;
   border-radius:3px;
   box-shadow:2px 2px 2px rgba(0,0,0,.2);
 cursor:move; cursor:-webkit-grab; cursor:-moz-grab; cursor:grab;}

 .cardtitle {
   float:left;
   width:100%; }

 .cards .is-moving {background-color:white;color:black}


 .noselect {
   -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }


 .gu-mirror {
   cursor:move; cursor:-webkit-grabbing; cursor:-moz-grabbing; cursor:grabbing;
   position: fixed !important;
   margin: 0 !important;
   z-index: 9999 !important;
   opacity: 1;
   -webkit-transform: rotate(5deg);
 transform: rotate(5deg);
 }
 .gu-hide {
   display: none !important;
 }
 .gu-unselectable {
   -webkit-user-select: none !important;
   -moz-user-select: none !important;
   -ms-user-select: none !important;
   user-select: none !important;
 }
 .gu-transit {
   opacity: 0.4;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
   filter: alpha(opacity=20);
 }

 #kaban {float:left;position:relative;width:100%;ax-width:100%;height:auto;}

          .noselect {
            -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
          }


          .gu-mirror {
            cursor:move; cursor:-webkit-grabbing; cursor:-moz-grabbing; cursor:grabbing;
            position: fixed !important;
            margin: 0 !important;
            z-index: 9999 !important;
            opacity: 1;
            -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
          }
          .gu-hide {
            display: none !important;
          }
          .gu-unselectable {
            -webkit-user-select: none !important;
            -moz-user-select: none !important;
            -ms-user-select: none !important;
            user-select: none !important;
          }
          .gu-transit {
            opacity: 0.4;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
            filter: alpha(opacity=20);
          }
